# Prerequisites
*.d

# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# OS files
*.bin
*.img

# Folders
.vscode
*logs*
*dumps*
*build*
